<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='styles/index.css')}}" type=text/css>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/_weathercard.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/_forecastSlider.css')}}">    
    <link rel="stylesheet" href="{{url_for('static',filename='styles/_errormessage.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/_mediaQueries.css')}}">
    {% set place=session.get('place') %}    
    {% set data=session.get('data') %}        
</head>
<body>
    <header>
        <h2>Weather</h2>
        <span id='date-accessed'></span>
    </header>    
    <div>
        <label for="place">City/Country</label>        
        <div id='input-div'>
            <input title='City,CountryCode' type="text" placeholder="Dehli,IN" name="place" id="place">
            <span></span>
        </div>
        <button id="fetchBtn" >fetch</button>
    </div>
    <br>
    <p class="notification error" title="click me to close !">
        <span class="title">!&nbsp;Error</span>
        <span id='errormessage'></span><span class="close">X</span>
    </p>
    <hr>
    <h2>Current Weather</h2>
    <div id="weather-data">                
        {% if not(place and data) %}
            <p class="redmessage">SORRY! Please insert the city/country above</p>
        {% else %}            
            {% set temp = data.get('main') %}
            <div class='box'>
                <div class='wave -one'></div>
                <div class='wave -two'></div>
                <div class='wave -three'></div>
                <div class="weathercon"><img src="https://openweathermap.org/img/wn/{{data.get('weather')[0].get('icon')}}@2x.png" alt="weather icon based on current temperature" id="weather-icon"></div>
                <div class="info">
                    <h2 class="location">{{place}}</h2>
                    <p id='current-temp' class="temp">Current Temp: <span>{{temp.get('temp')}}&deg;C</span></p>
                    <p id='min-temp'>Minimun Temp: <span>{{temp.get('temp_min')}}&deg;C</span></p>
                    <p id="max-temp">Maximum Temp: <span>{{temp.get('temp_max')}}&deg;C</span></p>
                    <p id="feel-temp">Feels like: <span>{{temp.get("feels_like")}}&deg;C</span></p>
                    <p id="humidity">Humidity: <span>{{temp.get('humidity')}}</span></p>
                    <p id="clouds-like">Clouds are: <span>{{data.get('weather')[0].get("description")}}</span></p>
                </div>
            </div>       
            <div id="slider-forecast">
                <label for="rangeInput">+3hr Forecast</label>
                <input orient="vertical" id="rangeInput" type="range" step='3'>
                <p id="forecast-time"></p>
                <button id="fetch-current">current</button>
            </div>     
        {% endif %}               
    </div>    
    <div id="add-padding"></div>
    <button class="scrollToTopBtn"><i class="fas fa-chevron-up"></i></button>
    <footer>
        <a id='github' href="https://github.com/shahan007" target="_blank"><i class="fab fa-github"></i></a>
        <a id='linkedin' href="https://www.linkedin.com/in/shahan-alam-71a161206/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='scripts/index.js')}}"></script>
</body>
</html>