<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/index.css')}}" type=text/css>
    {% set country=session.get('country') %}    
    {% set data=session.get('data') %}        
</head>
<body>
    <h2>Weather</h2>    
    <div>
        <label for="country">Country</label>
        <!-- <input type="text" name="country" id="country"> -->
        <div>
            <input type="text" placeholder="Singapore" name="country" id="country">
            <span></span>
        </div>
        <button>fetch</button>
    </div>
    <br>
    <p class="redmessage"></p>
    <hr>
    <h2>Current Weather</h2>
    <div id="weather-data">                
        {% if not(country and data) %}
            <p class="redmessage">SORRY! Please insert the country above</p>
        {% else %}            
            {% set temp = data.get('main') %}
            <p >Country: <span>{{country}}</span></p>
            <p>Current Temp : <span>{{temp.get('temp')}}</span></p>
            <p>Minimun Temp: <span>{{temp.get('temp_min')}}</span></p>
            <p>Maximum Temp: <span>{{temp.get('temp_max')}}</span></p>
            <p>Feels like: <span>{{temp.get("feels_like")}}</p>
            <p>Humidity: <span>{{temp.get('humidity')}}</span></p>
            <p>Clouds are: <span>{{data.get('weather')[0].get("description")}}</span></p>
        {% endif %}               
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='scripts/index.js')}}"></script>
</body>
</html>