/* error  message*/
.notification{
    display: none;
    width: 35rem;
    height: 2.85rem;
    border-radius: 0px 0px 5px 5px;    
    margin: 0 auto;
    box-shadow: #95a5a6 0px 0px 6px 2px;
    color: white;
    line-height: 40px;
    overflow: hidden;    
    transition: box-shadow 500ms ease-in-out ;
}

.notification:hover{
    box-shadow: rgba(250, 11, 11, 0.35) 0px 0px 6px 2px;
}
.notification .title{
    margin-right: 15px;
    padding: 0px 15px;
    line-height: 40px;
    display: inline-block;
}

.notification .close{
    background: rgba(255,255,255,0.35);
    padding: 0px 15px;	
    line-height: 40px;
    float: right;        
    color: white;
    transition: background 500ms ease-in-out ;
}
.notification .close:hover{
    cursor: pointer;
    background: rgba(250, 11, 11, 0.55);
}

.notification.error{
    background: linear-gradient(to right, #707BFA, #bea7fc, #f6cafd) ;
    opacity: 0.85;
}   
.notification.error .title{
    background: linear-gradient(to left, #707BFA, #bea7fc, #f6cafd) ;
    opacity: 1;
} 