@media (max-width:900px){
    #date-accessed{
        text-align: center;
        padding:12px 0;
        position: relative;
        display: block;
        right: 0;
        margin: auto;
    }    
}

@media (max-width: 550px) {

    #input-div{
        width: 50vw;
    }

    p.notification{
        width: 25rem;
    }

    p.notification {
        font-size: 0.75rem;        
    }
}

@media (max-width: 500px) {

    body > h2 , header > h2{
        font-size: 2rem;
    }

    .info > h2.location{
        margin-top: -5px;
    }

    .box {
        width: 70vw;
        height: 30rem;
    }

    .wave {
        top: 115%;
    }

    .info {
        font-size: 1.35rem;
    }

    .info > p{
        width: 84%;
    }    

    .info > p, .info > p > span{
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {

    #date-accessed{
        line-height: 1.5;
        margin-left: 2%;
        margin-right: 2%;
    }

    #input-div{
        width: 65vw;
    }

    p.notification{
        width: 90%;
        font-size: 65%;     
        margin-bottom: 1rem;             
    }

    p.notification > .title {
        margin-right: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

    p.notification .close{
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .box{
        width: 80vw;
        height: 28rem;
    }

    .info > p{
        width: 85%;
    }    

    .info > p, .info > p > span{
        font-size: 0.9rem;
    }

    .wave {
        top: 115%;
    }

}

@media (max-width: 345px) {
    p.notification{
        width: 95%;
        font-size: 55%;           
    }

    p.notification > .title {
        margin-right: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }

    p.notification .close{
        padding-left: 2%;
        padding-right: 2%;
    }
}