@media (max-width:900px){
    #date-accessed{
        text-align: center;
        padding:12px 0;
        position: relative;
        display: block;
        right: 0;
        margin: auto;
    }    
}

@media (max-width: 550px) {

    #input-div{
        width: 50vw;
    }

    p.notification{
        width: 25rem;
    }

    p.notification {
        font-size: 0.75rem;        
    }

    .scrollToTopBtn{
        font-size: 10px;
        line-height: 28px;
        width: 28px;
        bottom: 1.30rem;        
        right: 47.5%;        
        transition: all 200ms ease-in-out;                     
    }

    .showBtn {
        opacity: 1;
        transform: translateY(6px)
    }
    
    .showBtn:hover{
        box-shadow:  0 6px 6px -2px #f7c1ffcc;       
    }

    .redmessage{
        margin-top: 4rem;
        margin-bottom: 4.5rem;
    }
}

@media (max-width: 500px) {

    body > h2 , header > h2{
        font-size: 2rem;
    }

    .info > h2.location{
        margin-top: -5px;
    }

    .box {
        width: 70vw;
        height: 30rem;
    }

    .wave {
        top: 115%;
    }

    .info {
        font-size: 1.35rem;
    }

    .info > p{
        width: 84%;
    }    

    .info > p, .info > p > span{
        font-size: 1.1rem;
    }
}

@media (max-width: 400px) {

    #date-accessed{
        line-height: 1.5;
        margin-left: 2%;
        margin-right: 2%;
    }

    #input-div{
        width: 65vw;
    }

    p.notification{
        width: 90%;
        font-size: 65%;     
        margin-bottom: 1rem;             
    }

    p.notification > .title {
        margin-right: 2%;
        padding-left: 2%;
        padding-right: 2%;
    }

    p.notification .close{
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .box{
        width: 80vw;
        height: 28rem;
    }

    .info > p{
        width: 75%;
    }    

    .info > p, .info > p > span{
        font-size: 0.9rem;
    }

    .wave {
        top: 115%;
    }

    .scrollToTopBtn{
        font-size: 14px;
        line-height: 40px;
        width: 40px;
        right: 45.5%;    
        transform: translateY(-200px);        
        transition: all 200ms ease-in-out;                     
    }

    .showBtn {
        opacity: 1;
        transform: translateY(-110px);        
    }

    #add-padding{
        padding: 4.6rem;
    }
    
    a{
        width: 50%;                            
    }    
    
    footer >a >i:hover{
        margin-top: -0.5px;
        box-shadow:  0 6px 6px -2px #f7c1ffcc !important;             
    }
    footer>a>i{
        font-size:  32px;
    }
}

@media (max-width: 345px) {
    p.notification{
        width: 95%;
        font-size: 55%;           
    }

    p.notification > .title {
        margin-right: 1%;
        padding-left: 1%;
        padding-right: 1%;
    }

    p.notification .close{
        padding-left: 2%;
        padding-right: 2%;
    }

    .info > p{
        width: 80%;
    }    

    .info > p, .info > p > span{
        font-size: 0.85rem;
    }

    .wave {
        top: 118%;
    }
}

@media (max-width: 300px){    
    .info > p{
        width: 90%;
    }    

}